.cover__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    -webkit-transition: background .5s linear;
    -o-transition: background .5s linear;
    transition: background .5s linear;
    padding: 245px 0;
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
    .cover__link {
        padding: 195px 10px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        padding: 115px 10px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        padding: 33px 0;
    }
}
