.title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color:#fff;
    max-width: 720px;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 12.5vw;
        padding: 0 24px;
    }
}
@media screen and (max-width: 320px) {
    .title {
        font-size: 40px;
        line-height: 1.10;
        padding: 0 16px;
        }
}