.place__text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFF;
    margin: 0;
    padding-bottom: 25px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.place__text:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
    }
}
