.lead__img-text {
    font-family: 'Inter';
    font-weight: normal;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.15em;  
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 768px) {
    .lead__img-text {
        padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .lead__img-text {
            padding-left: 16px;
        }
}