.intro__desc {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
    list-style: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
