.cover__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}