.place {
    display: grid;
    grid-template-columns: minmax(30%, 460px) minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 40px;    
}