.cover__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

}

@media screen and (max-width: 320px) {
    .cover__title {
        justify-content: flex-start;
        -webkit-box-pack: start;
        }
}